
{% extends 'crypto/base.html' %}   
{% load static %}
{% block content %}
<link href="https://lifemapcapitals.com/static/assets/icons/cryptocoins-master/cryptocoins.css" rel="stylesheet" type="text/css" /> <style>
	.a:hover {
	background: red;
	}
	.sm{
		font-size: x-small;
	}
</style>

				<!-- container -->
				<div class="container-fluid">

		
					
				<!-- breadcrumb -->
				<div class="breadcrumb-header justify-content-between">
					<div class="my-auto">
						<div class="d-flex">
							<h4 class="content-title mb-0 my-auto">DEPOSIT </h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/</span>
						</div>
					</div>
			<!-- 		<div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
						<button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
							<i class="mdi mdi-download "></i>
						</button>
						<button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
							<i class="mdi mdi-clock"></i>
						</button>
						<button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
							<i class="mdi mdi-plus"></i>
						</button>
						<button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
					</div> -->
				</div>
				<!-- breadcrumb -->


				<!-- row -->
				<div class="row">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Choose Deposit Method</h6>
									<!-- <p class="text-muted card-sub-title">Below are different kind of effects to choose from.</p> -->
								</div>
						<!-- 		<div class="row row-sm">
									<div class="col-sm-6 col-md-4 col-xl-3">
										<a class="modal-effect btn btn-outline-primary btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">Scale</a>
									</div>
									<div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-sm-t-0">
										<a class="modal-effect btn btn-outline-primary btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">Slide In Right</a>
									</div>
									<div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-md-t-0">
										<a class="modal-effect btn btn-outline-primary btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">Slide In Bottom</a>
									</div>
									<div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-xl-t-0">
										<a class="modal-effect btn btn-outline-primary btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">Newspaper</a>
									</div>
									<div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
										<a class="modal-effect btn btn-outline-primary btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">Just Me</a>
									</div> -->

									<div class="row row-xs wd-xl-80p">
										<div class="col-sm-6 col-md-3">
											<a class="modal-effect a btn btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8"><button style="background:#f7931a;" class="btn btn-indigo btn-with-icon btn-block"><i class="typcn typcn-folder"></i> <i class="sm">Bitcoin BTC </i></button></a>
											</div>
										<div class="col-sm-6 col-md-3 mg-t-10 mg-sm-t-0">
											<a class="modal-effect btn btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8"><button style="background:#212121;" class="btn btn-primary btn-with-icon btn-block">
												<i class="typcn typcn-mail"></i><i class="sm"> Ethereum ETH</i> </button></a>
											</div>
										<div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0">
											<a class="modal-effect btn btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">
												<button style="background:#f7931a;" class="btn btn-success btn-with-icon btn-block"><i class="typcn typcn-edit"></i> <i class="sm">Tether USDT</i> (ERC20)</button></a>
											</div>
												<div class="col-sm-6 col-md-3 mg-t-10 mg-sm-t-0">
											<a class="modal-effect btn btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8"><button style="background:#2ca07a;" class="btn btn-primary btn-with-icon btn-block">
												<i class="typcn typcn-mail"></i><i class="sm"> Tether USDT </i>(TRC20)</button></a>
											</div>
										<div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0">
											<a class="modal-effect btn btn-block" data-effect="effect-newspaper" data-toggle="modal" href="#modaldemo8">
												<button style="background:#f7931a;" class="btn btn-success btn-with-icon btn-block"><i class="typcn typcn-edit"></i> <i class="sm">Tether USDT </i>(BEP20)</button></a>
											</div>
									</div>

								<!-- </div> -->
							</div>
						</div>
				</div>
				<!-- row closed -->

				<div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
						<div class="card">
							<div class="card-body">
								<div class="main-content-label mg-b-5">
									Profe of payment:
								</div>
								<!-- <p class="mg-b-20">It is very easy to upload Profe of payment:</p> -->
								<form class="needs-validation was-validated">
									<div class="row row-sm">
										<div class="col-lg-6">
											<div class="form-group has-success mg-b-0">
												<input class="form-control"name="amount" placeholder="Please Enter Your Amount" required="" type="text" value="0.00">
												<br>
													<div class="custom-file">
													<input class="custom-file-input form-control mg-t-20"name="image" id="customFile" type="file"> <label class="custom-file-label" for="customFile">Choose file</label>
												</div>
												<br><br>
												<select class="form-control" required="" name="currency">
												<option selected="" disabled="true" class="text">---payment method---</option>
												<option class="text">Tether (USDT)</option>
												<option class="text">Bitcoin (BTC)</option>
												<option class="text">Ethereum (ETH)</option>
											</select>


											</div>
										</div>


					
					


									</div>
								</form>
							</div>
						</div>
					</div>
				<!-- row -->
				<div class="row">
						<div class="card">
							<div class="card-header pb-0">
								<div class="d-flex justify-content-between">
									<h4 class="card-title mg-b-0">Deposit Historys and Transactions Datatable</h4>
									<i class="mdi mdi-dots-horizontal text-gray"></i>
								</div>
								<!-- <p class="tx-12 tx-gray-500 mb-2">Example of Mintro Striped Rows.. <a href="#">Learn more</a></p> -->
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-striped mg-b-0 text-md-nowrap">
										<thead>
											<tr>
											   <th class="text-center">#</th>
											   <th>Name</th>
											   <th class="text-end">Image Prof</th>
											   <th class="text-end">Amount</th>
											   <th class="text-end">Payment Method</th>
											   <th class="text-end">Date / Time</th>
											   <th class="text-end">Status</th>
											</tr>
										</thead>
										<tbody>
											{% for post in post %}
												<tr>
												   <td class="text-center">{{post.id}}</td>
												   <td><a href="#" class="hover-warning">{{post.user.username}}</a></td>
												   {% if post.prof %}
												   <td class="text-end"><img src="{{post.prof.url}}" style="width:20px"></td>
												   {% else %}
												   <td class="text-end"><img src="" style="width:20px"></td>
												   {% endif %}
												   
												   <td class="text-end"><span>$</span> {{post.amount}}</td>
												   <td class="text-end"><span></span> {{post.currency}}</td>
												   <td class="text-end"><span></span>{{post.created_date}}</td>
												   {% if post.status == 'confirmed' %}
												   <td class="text-end"><span class="badge badge-success">{{post.status}}</span></td>
												   {% elif post.status == 'declind' %}
												   <td class="text-end"><span class="badge badge-danger">{{post.status}}</span></td>
												   {% else %}
												   <td class="text-end"><span class="badge badge-warning">{{post.status}}</span></td>
												   {% endif %}
												</tr>
											{% endfor %}
											
										</tbody>
									</table>
								</div><!-- bd -->
							</div><!-- bd -->
						</div><!-- bd -->
				<!-- 	<div class="col-lg-12 col-md-12">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title mb-1">Basic Example of Modal View</h6>
									<p class="text-muted card-sub-title">Below is the static example of the basic modal.</p>
								</div>
								<div class="pd-20 bg-light">
									<div class="modal d-block pos-static">
										<div class="modal-dialog" role="document">
											<div class="modal-content modal-content-demo">
												<div class="modal-header">
													<h6 class="modal-title">Modal Header</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
												</div>
												<div class="modal-body">
													<h6>Modal Body</h6>
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
												</div>
												<div class="modal-footer">
													<button class="btn ripple btn-primary" type="button">Save changes</button>
													<button class="btn ripple btn-secondary" type="button">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>


				<!-- /row -->

				<!-- row -->
				<!-- <div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Basic Modal</h6>
								</div>
								<a class="btn ripple btn-primary" data-target="#modaldemo1" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Small Modal</h6>
								</div>
								<a class="btn ripple btn-secondary" data-target="#modaldemo2" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Large Modal</h6>
								</div>
								<a class="btn ripple btn-info" data-target="#modaldemo3" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Grid Modal</h6>
								</div>
								<a class="btn ripple btn-warning" data-target="#modaldemo6" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Modal Success Alert Messages</h6>
								</div>
								<a class="btn ripple btn-success" data-target="#modaldemo4" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Modal Danger Alert Messages</h6>
								</div>
								<a class="btn ripple btn-danger" data-target="#modaldemo5" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Scrolling Modal</h6>
								</div>
								<a class="btn ripple btn-primary" data-target="#scrollingmodal" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="card-title">Scrolling with Content</h6>
								</div>
								<a class="btn ripple btn-secondary" data-target="#scrollmodal" data-toggle="modal" href="#">View Demo</a>
							</div>
						</div>
					</div>
				</div> -->
				<!-- /row -->


				</div>
				<!-- Container closed -->



		<!-- Modal effects -->
		<div class="modal" id="modaldemo8">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content modal-content-demo">
					<div class="modal-header">
						<h6 class="modal-title">Modal Header</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<h6>Modal Body</h6>
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					</div>
					<div class="modal-footer">
						<button class="btn ripple btn-primary" type="button">Save changes</button>
						<button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal effects-->

{% endblock %}

