{% extends 'crypto/base2.html' %}   

  {% load crispy_forms_tags %}



{% block content %}
<style type="text/css">
  .vertical-spin{
    width: 100%;
  }
</style>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {

  font-family: "Play", sans-serif;
}

.container {
  width: 100%;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #1e2321;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #f4f4f4;
}
.goog-logo-link {
   display:none !important;
}

.goog-te-gadget {
   color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
   color: blue !important;
}
h1,
h2 {
  font-size: 2.2em;
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.2);
}

.button1 {
  background-color: #00cc99;
  box-shadow: 0 0 10px 0 #00cc99 inset, 0 0 20px 2px #00cc99;
}

.button2 {
  background-color: #ff007c;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}

.button3 {
  background-color: #ffae42;
  box-shadow: 0 0 10px 0 #ffae42 inset, 0 0 20px 2px #ffae42;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #50bfe6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

</style>
  <!-- Content Wrapper. Contains page content -->
  <!-- <div class="content-wrapper" style="background-color: #000422;margin-left: 0;"> -->
    <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="d-flex align-items-center">
        <div class="me-auto">
          <h4 class="page-title"></h4>
          <div class="d-inline-block align-items-center">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                <li class="breadcrumb-item" aria-current="page"></li>
                <li class="breadcrumb-item active" aria-current="page"></li>
              </ol>
            </nav>
          </div>
        </div>
        
      </div>
    </div>
{% include 'crypto/messages.html' %}
    <!-- Main content -->
    <section class="content">

      <div class="row">


<br>

      <div class="box-body">
          <!-- Date dd/mm/yyyy -->
          <div class="form-group">

            <form action="" method="post">
              {% csrf_token %}
          <label class="form-label">SELECT A PACKAGE PLAN AND AMOUNT TO BEGIN WITH:</label>
          <div class="row">
            <div class="">

             <!--   <center>
                  <section>
                    <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                           
                              <div class="top">
                                <h1>Plans & Packages</h1>
                                <div class="toggle-btn">
                                <span style="margin: 0.8em;">Lifemap</span>
                                <label class="switch">
                                  <input type="checkbox" id="checbox" onclick="check()" ; />
                                  <span class="slider round"></span>
                                </label>
                                <span style="margin: 0.8em;">Lifemap</span></div>
                              </div>
                            
                              <div class="package-container">
                                {% for pk in pack %}
                                <div class="packages">
                                <h1 style="color:#fff">{{pk.membership_type}} plan</h1>
                                <h2 class="text1" style="color:#fff">&dollar;{{pk.price}}</h2>
                                <h2 class="text2" style="color:#fff">&dollar;{{pk.price2}}</h2>
                                <ul class="list">
                                  <li class="first">Minimum: USD {{pk.price}}</li>
                                  <li>Maximum: USD {{pk.price2}}</li>
                                  <li>Profit: {{pk.profit}}% Daily</li>
                                  <li>Validity: {{pk.duration}} Days</li>
                                </ul>
                                <a href="#" style="color:#fff" class="button button1">Start Now</a>
                                </div>
                                {% endfor %}
                              </div>
                          </div>
                        </div>
                      
                    </div>
                  </section></center> -->


        
              <br>
              <div class="input-group">
                <!-- <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
                </div> -->
                {{form}}
            <!-- <input class="vertical-spin form-control" placeholder="Your amount ...." type="text" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" value="" name="amount" style="display: block;"> -->
        
              </div><br>
              <!-- /.input group -->
            </div>
      



          <!--   <div class="col-6">
              <select class="btn-group bootstrap-select btn dropdown-toggle btn-default" name="currency">
                <option selected disabled="true" class="text">---payment method---</option>
                <option class="text">Tether (USDT)</option>
                <option class="text">Bitcoin (BTC)</option>
                <option class="text">Ethereum (ETH)</option>
              </select>
            </div>
 -->

            <button type="submit" class="btn btn-primary btn-sm w-p100 mb-15">submit</button>

          </div>
          </form>
          </div>
          <!-- /.form group -->

          <!-- /.form group -->

          <!-- /.form group -->

        </div>




      </div>

    </section>

        <!-- Main content -->
    <section class="content">     
<div class="row">
        <div class="col-12">
          <div class="box">
          <div class="box-body">
            <h5 class="text-center">All Your Active Packages and {{count}} Running Investment</h5>
            <div class="table-responsive">
              <table class="table table-striped table-bordered no-margin">
                <thead>
                <tr>
                   <th class="text-center">#</th>
                   <th>NAME</th>
                   <th class="text-end">DAILY ROI</th>
                   <th class="text-end">USD AMOUNT</th>
                   <th class="text-end">PACKAGE </th>
                   <th class="text-end">Date / Time</th>
                </tr>
                 </thead>
                 <tbody>
                  {% for pk in pk %}
                <tr>
                   <td class="text-center">{{pk.id}}</td>
                   <td><a href="#" class="hover-warning">{{pk.user.username}}</a></td>
                   <!-- <td class="text-end"><img src="{{post.prof.url}}" style="width:20px"></td> -->
                   <td class="text-end"><span></span> {{pk.roi}}</td>
               
                   <td class="text-end"><span>$</span> {{pk.amount}}</td>
                   <td class="text-end"><span></span> {{pk.membership}} Plan</td>
                   <td class="text-end"><span></span>{{pk.item_created_date}}</td>
                   {% if pk.statuse == 'Active' %}
                   <td class="text-end"><span class="label"  style="background-color: green;">{{pk.statuse}}</span></td>
                   {% elif pk.statuse == 'Inactive' %}
                   <td class="text-end"><span class="label label-danger">{{pk.statuse}}</span></td>
                   {% else %}
                   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{pk.statuse}}</span></td>
                   {% endif %}

                </tr>
                {% endfor %}
                 </tbody>
                
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        </div>




    </section>
    <!-- /.content -->


 <section class="content">     
<div class="row">
        <div class="col-12">
          <div class="box">
          <div class="box-body">
            <h5 class="text-center">All Your Inactive Packages and {{count}} Running Investment</h5>
            <div class="table-responsive">
              <table class="table table-striped table-bordered no-margin">
                <thead>
                <tr>
                   <th class="text-center">#</th>
                   <th>NAME</th>
                   <!-- <th class="text-end">DAILY ROI</th> -->
                   <th class="text-end">USD AMOUNT</th>
                   <th class="text-end">PACKAGE </th>
                   <th class="text-end">Date / Time</th>
                   <th class="text-end">INVESTMENT STATUS</th>
                </tr>
                 </thead>
                 <tbody>
                  {% for pk in pks %}
                <tr>
                   <td class="text-center">{{pk.id}}</td>
                   <td><a href="#" class="hover-warning">{{pk.user.username}}</a></td>
                   <!-- <td class="text-end"><img src="{{post.prof.url}}" style="width:20px"></td> -->
                   <!-- <td class="text-end"><span></span> {{pk.roi}}</td> -->
               
                   <td class="text-end"><span>$</span> {{pk.amount}}</td>
                   <td class="text-end"><span></span> {{pk.membership}} Plan</td>
                   <td class="text-end"><span></span>{{pk.item_created_date}}</td>
                   {% if pk.statuse == 'Active' %}
                   <td class="text-end"><span class="label"  style="background-color: green;">{{pk.statuse}}</span></td>
                   {% elif pk.statuse == 'Inactive' %}
                   <td class="text-end"><span class="label label-danger">{{pk.statuse}}</span></td>
                   {% else %}
                   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{pk.statuse}}</span></td>
                   {% endif %}
                </tr>
                {% endfor %}
                 </tbody>
                
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        </div>




    </section>
    <!-- /.content -->
    <!-- /.content -->
    </div>
  </div>
  <!-- /.content-wrapper -->
  
  



  <!-- /.modal -->

{% endblock content %}
  <!-- Page Content overlay -->
  
  