


{% extends 'crypto/base.html' %}   
{% load static %}
{% block content %}
<link href="https://lifemapcapitals.com/static/assets/icons/cryptocoins-master/cryptocoins.css" rel="stylesheet" type="text/css" /> <style>
    .a:hover {
    background: red;
    }
    .sm{
        font-size: x-small;
    }
</style>

                <!-- container -->
                <div class="container-fluid">

        
                    
                <!-- breadcrumb -->
                <div class="breadcrumb-header justify-content-between">
                    <div class="my-auto">
                        <div class="d-flex">
                            <h4 class="content-title mb-0 my-auto">Support</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0"></span>
                        </div>
                    </div>
               <!--      <div class="d-flex align-items-end flex-wrap my-auto right-content breadcrumb-right">
                        <button type="button" class="btn btn-warning btn-icon mr-3 mt-2 mt-xl-0">
                            <i class="mdi mdi-download "></i>
                        </button>
                        <button type="button" class="btn btn-danger  btn-icon mr-3 mt-2 mt-xl-0">
                            <i class="mdi mdi-clock"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-icon mr-3 mt-2 mt-xl-0">
                            <i class="mdi mdi-plus"></i>
                        </button>
                        <button class="btn btn-primary mt-2 mt-xl-0">Download report</button>
                    </div> -->
                </div>
                <!-- breadcrumb -->

                    <div class="card">
                        <div class="card-body">
                            <div class="main-content-label mg-b-5">
                                Swaptradex Support
                            </div>
                            <p class="mg-b-20">For Enquiries, Suggestions or Complains. Mail us at.</p>
                            <div class="table-responsive mg-t-20 mb-0">
                                <table class="table main-table-reference text-nowrap mg-t-0 mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="bg-gray-100 wd-20p"><b>title</b></td>
                                            <td><code>Support Email</code></td>
                                            <td><code>Info Email</code></td>
                                        </tr>
                                        <tr>
                                            <td class="bg-gray-100 wd-20p"><b>Values</b></td>
                                            <td>support@Swaptradex.com</td>
                                            <td>info@Swaptradex.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container closed -->



{% endblock %}

